%footer.footer(role="contentinfo")
  .wrapper
    .row
      %a.icon.traitify-logo-footer(href="/" title="Traitify, Life with Personality")

      %ul.social--desktop
        %li
          %a(href="https://www.facebook.com/traitify" title="Facebook" class="icon facebook")
        %li
          %a(href="https://plus.google.com/u/0/+Traitify" title="Google+" class="icon google_plus")
        %li
          %a(href="https://www.linkedin.com/company/traitify" title="LinkedIn" class="icon linked-in")
        %li
          %a(href="https://twitter.com/traitify" title="Twitter" class="icon twitter")
        %li
          %a(href="https://github.com/traitify" title="Github" class="icon github")

      %a(href="javascript:;" title="Made with love in Baltimore, MD")
        %i.icon.mustache-man

      %ul.address
        %li Copyright 2014 Traitify
        %li 101 N Haven Street, Baltimore, MD 21224
        %li
          %a(href="mailto:support@traitify.com" title="Email Us") say hello

      %nav.footer__nav(role="navigation")
        %ul.pages
          %li
            %a(href="/science" title="Science" class="footer__nav__link") science
          %li
            %a(href="http://developer.traitify.com" title="Developers" class="footer__nav__link") developers
          %li
            %a(href="/team" title="Our Team" class="footer__nav__link") our team
          %li
            %a(href="/press" title="Press + Media" class="footer__nav__link") press + media
          %li
            %a(href="/terms" title="Terms and Conditions" class="footer__nav__link") terms and conditions 
          %li
            %a(href="/privacy" title="Privacy" class="footer__nav__link") privacy 

        %ul.social
          %li
            %a(href="https://www.facebook.com/traitify" title="Facebook" class="icon facebook")
          %li
            %a(href="https://plus.google.com/u/0/+Traitify" title="Google+" class="icon google_plus")
          %li
            %a(href="https://www.linkedin.com/company/traitify" title="LinkedIn" class="icon linked-in")
          %li
            %a(href="https://twitter.com/traitify" title="Twitter" class="icon twitter")
          %li
            %a(href="https://github.com/traitify" title="Github" class="icon github")
