%header.header(role="banner")
  .wrapper
    .row
      %a.icon.traitify-logo-header(href="/" title="Traitify, Life with Personality")
      .header__icon
        %div
        %svg(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none")
          %circle(cx="8" cy="8" r="6.24" transform="rotate(90 8 8)")

      %nav.header__nav
        %ul
          %li
            %a(href="#how-it-works" title="How It Works") how it works?
          %li
            %a(href="#the-science" title="The Science") the science
          %li
            %a(href="#personality-api" title="Personality API") personality API
          %li
            %a(href="https://developer.traitify.com" title="Developers") developers
          %li
            %a(href="mailto:support@traitify.com" title="Contact") contact

      %a(href="/science" title="The Science Behind Traitify" class="header__button")
        %i.icon.science-icon
