!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

    - if content_for :title
      = content_for :title
    - else
      %title Here is the title
  %body{class: body_class}
    = partial("partials/_nav-homepage")
    
    = content

    = partial("partials/_footer")
