%header.header(role="banner")
  .wrapper
    .row
      .header__icon
        %div
        %svg(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none")
          %circle(cx="8" cy="8" r="6.24" transform="rotate(90 8 8)")

      %nav.header__nav
        %ul
          %li
            %a(href="#page" title="How It Works") how it works?
          %li
            %a(href="mailto:support@yoursite.com" title="Contact") contact
